* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100vw;
    height: 100vh;
}

/* ------------------------------------------- */

.menu_button {
    position: fixed;
    right: 4vh;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, .8) 0 0 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    transition-duration: .1s;
}

.menu_button:not(open) {
    bottom: 4vh;
}

.menu_button.open {}

.menu_button.active {
    background-color: rgba(239, 69, 74, 1);
    box-shadow: rgba(230, 230, 230, .8) 0 0 10px;
}

#menu_button_add {
    right: 3vh;
    bottom: 3vh;
    width: 12vh;
    height: 12vh;

    background-color: rgba(00, 76, 113, 1);
    background-image: url("./img/menu_button_add.png");
    background-size: 55%;
    /* border: 2px solid rgba(230, 230, 230, 1); */
}

#menu_button_add.open {
    box-shadow: rgba(230, 230, 230, .8) 0 0 10px;
}

#menu_button_add.active {
    background-color: rgba(234, 0, 50, 1);
    /* background-color: #EA0032; */
}

#menu_button_setting {
    background-image: url("./img/menu_button_setting.png");
    background-size: 60%;
}

#menu_button_setting:not(.active) {
    background-color: rgba(19, 74, 99, 1);
}

#menu_button_setting.open {
    bottom: 18vh;
}

/* ------------------------------------------- */

#List {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(80, 80, 80, 1);
    font-size: 4.5vh;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#List::-webkit-scrollbar {
    display: none;
}

#List * {
    position: relative;
    right: 0;
    width: 100%;

    overflow: hidden;
    background-color: inherit;

    user-select: none;
}

#List span {
    vertical-align: middle;
    border: none;
    pointer-events: none;
}

/* ------------------------------------------- */

#List li {
    height: 11vh;

    line-height: 10vh;

    border-top: 3px dashed rgba(230, 230, 230, .2);
    color: rgba(230, 230, 230, 1);

    cursor: pointer;
}

#List>li {
    border-top: 3px solid rgba(230, 230, 230, .5);
}

#List ul>li,
#List ul {
    font-size: calc(100% - 0.4vh);
}

/* ------------------------------------------- */

#List ul {
    /* left: 1.8vh; */
    height: 0;
    /* width: calc(100% - 1.8vh); */

    padding: 0;
    padding-left: 1.8vh;
    border: none;
}

#List ul.open {
    height: auto;
    border-left: 3px dashed rgba(230, 230, 230, .2);
}

#List ul.open>li {
    border-left: 3px dashed rgba(230, 230, 230, .2);
}

#List ul.open+* {
    position: relative;
    box-shadow: rgba(0, 0, 0, .4) 0 -8px 10px -10px;
}

/* ------------------------------------------- */

#List li.button::before {
    content: "";

    display: inline-block;
    margin-top: calc(11vh /2 - 2vh/2);
    margin-left: 1vh;
    margin-right: 1vh;
    width: 2vh;
    height: 2vh;

    border: 0.5rem solid;
    border-color: rgba(200, 200, 200, 1) rgba(200, 200, 200, 1) transparent transparent;
    box-sizing: border-box;

    transform: translateX(-0.5vh) rotate(45deg);
    transition-duration: .1s;
}

#List li.button.active::before {
    transform: translateY(-0.57vh) rotate(135deg);
    transition-duration: .1s;
}

#List li:not(.button)::before {
    content: "";

    display: inline-block;
    margin-top: calc(11vh /2 - 0.5rem/2);
    margin-left: 1.2vh;
    margin-right: 1.2vh;
    width: 1.6vh;
    height: 1.6vh;

    border-top: 0.5rem solid rgba(200, 200, 200, 0.3);
    box-sizing: border-box;

    /* transform: translateY(-1vh); */
    transition-duration: .1s;
}

/* ------------------------------------------- */

#menu_setting,
#menu_setting+ul li {
    color: rgba(30, 30, 30, 1) !important;
}

#menu_setting:not(.open) {
    height: 0;
    border: none;
}

#menu_setting.open {
    height: 11vh;
}